#investment-results {
  padding: 1rem;
  max-width: 40rem;
  margin: 2rem auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  border-bottom: 2px solid #3c8371;
  color: #3c8371;
  font-size: 0.7rem;
  text-transform: uppercase;
}

tbody td {
  padding: 0.5rem;
  text-align: center;
  font-size: 0.85rem;
  color: #c2e9e0;
}

.center {
  text-align: center;
  color: #c2e9e0;
}